<div class="container">
  <div class="formBody">
    <h2 class="formHeader">Sign Up</h2>
    <%= form_for @user, url: {action: "create"}, html: {class: "userform"} do |f| %>
      <div class="new-user-container">
      <div class="username">
    <%= label_tag "Username" %>
    </div>
      <%= f.text_field :username, placeholder: "Username" %><br>

      <div class="firstname">
      <%=label_tag "First Name" %>
      </div>
      <%= f.text_field :first_name, placeholder: "First Name" %> <br>

      <div class="lastname">
      <%= label_tag "Last Name" %>
      </div>
      <%= f.text_field :last_name, placeholder: "Last Name" %><br>

      <div class="Email">
      <%= label_tag "Email"%>
      </div>
      <%= f.text_field :email, placeholder: "Email" %><br>

      <div class="password">
      <%= label_tag "Password" %>
      </div>
      

      <%= f.password_field :password, placeholder: "Password" %><br>
      <%= f.submit "Create Account" %><br>
    <% end %>
    </div>
  </div>
</div>