<header>
  <div id ="header-container">
      <div id="title-album" class="title"><%= @album.title %></div>
    <div id="button-container">
      <button><%= link_to "Add Photos", new_user_album_photo_path(params[:user_id], params[:id]), :class => 'link'%></button>
      <button><%= link_to "New Album", new_user_album_path(params[:user_id], params[:id]), :class => 'link'%></button>
      <button><%= link_to "Albums", user_path(params[:user_id]), :class => 'link'%></button>
    </div>
  </div>
</header>
<div class="felx-grid">
<% if @album.photos %>
  <% @album.photos.each do |photo| %>
    <div class="column">
    <img src="<%= photo.picture %>" class="card-img-top" alt="...">
    </div>
    <%end%>
<% end %>
</div>

